<!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">
                        My name is Nikhil and I am studying computer programming at Georgian College. Moreover I am from India and I moved to Canada for my higher studies. This is my last samester and  I am looking forward to pursue my carrer in programming.
                        </p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">
                            I am a optimistic person and find solution of every problme. I am self-motivated person who need no appreciation from other,I can do my work independently and do not blame others for my fault. I am a extrovert person who loves to make friends.

                    </p></div>
                </div>
                <!-- About Section Button-->
                </div>
            </div>
        </section>