<!DOCTYPE html>
<html lang="en">
   <body id="page-top">
        <!-- Masthead-->
        <section id="home">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="images/NikhilImage.jpeg" alt="..." />
                               <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Nikhil</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Computer Programmer-game developer-Web form designer</p>
                <p class="masthead-subheading font-weight-light mb-0">Enrolled in Georgian College, Barrie</p>
                <p class="masthead-subheading font-weight-light mb-0">Optmistic, self-dependent</p>

            </div>
        </header>
        </section>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; My Website 2022</small></div>
        </div>
    </body>
</html>
